:root {
  --color-yellow: hsl(47, 88%, 63%);
  --color-grey500: hsl(0, 0%, 42%);
  --color-grey950: hsl(0, 0%, 7%);
  --color-white: hsl(0, 0%, 100%);
  --color-blue: hsl(228, 45%, 44%);
}

body {
  background-color: var(--color-yellow);
  font-family: "Figtree", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.card {
  border: 1px solid var(--color-grey500);
  background-color: var(--color-white);
  border-radius: 15px;
  max-width: 325px;
  min-height: 460px;
  box-shadow: 8px 8px 0px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  padding-left: 1.5rem;
  padding-top: 1rem;
}

.main-content p {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--color-grey500);
  line-height: 1.5rem;
}

.main-content h1 {
  font-weight: 800;
  padding-top: 1rem;
  font-size: 1.25rem;
  margin: 0;
}

.main-content h1:hover {
  color: var(--color-yellow);
  cursor: pointer;
}

.main-content span {
  border: 5px solid var(--color-yellow);
  border-radius: 5px;
  color: var(--color-grey950);
  background-color: var(--color-yellow);
  font-size: 0.75rem;
  font-weight: 650;
  padding: 0rem 0.2rem;
}

.author-image-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.author-name {
  font-weight: 800;
  padding-left: 0.7rem;
  font-size: 0.75rem;
  margin-left: 0rem;
  font-style: italic;
}

.publish {
  padding-top: 1rem;
  font-size: 0.75rem;
}

.main-image {
  border-radius: 15px;
  width: 275px;
  height: auto;
  display: block;
}

footer {
  padding-top: 2rem;
}

.attribution {
  font-size: 0.7rem;
}
.attribution a {
  color: var(--color-blue);
}
