:root {
  --color-yellow: hsl(47, 88%, 63%);
  --color-grey500: hsl(0, 0%, 42%);
  --color-grey950: hsl(0, 0%, 7%);
  --color-white: hsl(0, 0%, 100%);
  --color-blue: hsl(228, 45%, 44%);
}

body {
  background-color: var(--color-yellow);
  font-family: "Figtree";
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid var(--color-grey500);
  background-color: var(--color-white);
  border-radius: 5%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  transform: scale(0.85);
  box-shadow: 8px 8px 0px black;
}

.button {
  border: 5px solid var(--color-yellow);
  border-radius: 10%;
  color: var(--color-grey950);
  font-weight: bold;
  background-color: var(--color-yellow);
  font-size: 12px;
}

.learning {
  padding-top: 1rem;
}

p {
  font-size: 15px;
  font-weight: 100;
  color: var(--color-grey500);
}

header {
  font-weight: bold;
  padding-top: 1rem;
  font-size: 20px;
}

.author-image-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1.5rem;
}

.author-name {
  display: inline;
  font-weight: bold;
  padding-left: 0.7rem;
  font-size: 12px;
  font-style: normal;
}

.image {
  padding-bottom: 0.3rem;
}

.publish {
  padding-top: 1rem;
  font-size: 12px;
}

.main-image {
  border-radius: 5%;
  padding-top: 1rem;
  transform: scale(0.9);
}

img {
  padding-top: 0.5rem;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: var(--color-blue);
}
